extends layout

block content
	h1= title		
	label(for='basic-url') URL
	.input-group
		span#basic-addon3.input-group-addon http://www.anns.tw/webapi/
		input#basic-url.form-control(type='text', aria-describedby='basic-addon3')
	
	table(class='table')
		- var iplist = ['tyo-mweb1.nineyi.corp', 'tyo-mweb2.nineyi.corp']

		- for(var i=0; i<iplist.length; i++) {
		tr
			td #{i}
			td #{iplist[i]}
			td
				//- img(src='/proxy/http%3A%2F%2Fdiz36nn4q02zr.cloudfront.net%2F%2Fwebapi%2FimagesV3%2FCropped%2FSalePage%2F1976361%2F0%2F000000%3Fv%3D1/#{iplist[i]}'
				//- 	width='50%'
				//- 	height='50%')			
				iframe(src="/proxy/#{encodeURIComponent('http://www.anns.tw/webapi/Shop/GetShopCategoryList?id=123&v=0')}/#{iplist[i]}", width='100%', height='300')
		- }
